.App {
  font-family: sans-serif;
}

.box {
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
}

.label {
  padding: 5px;
  width: 300px;
  display: inline-block;
}

.label::after {
  content: ":";
}

.value {
  font-weight: bold;
  width: 200px;
  display: inline-block;
}

html {
  background-color: rgb(224, 216, 216);
}

h3 {
  margin: 0 5px;
}

hr {
  margin: 2px 0;
}

table th {
  background-color: #bcdae9;
  width: 10vw;
}

table tr {
  width: 10vw;
  text-align: center;
}