.App {
  font-family: sans-serif;
}

.box {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}

.label {
  padding: 10px;
  width: 300px;
  display: inline-block;
}

.label::after {
  content: ":";
}

.value {
  font-weight: bold;
  width: 200px;
  display: inline-block;
}
